* {
  box-sizing: border-box;
}
/*Diferencia Padding con Margin: El padding es el espacio interior, mientras que el margin es el espacio exterior al borde del elemento.*/   
body {
  margin: 0;
  font-family: Arial;
}
/*Topbar incluye Logo -Buscador - Carrito*/
.topbar {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}
/*Buscador*/
.buscador {
  display: flex;
  gap: 5px;
}

.buscador input {
  padding: 8px;
  /*width: 50px;*/
}

.buscador button {
  padding: 8px 12px;
}
/*Carrito con contador (absolute)*/
.carrito {
  position: relative;
  font-size: 22px;
  cursor: pointer;
}

.contador {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}
.mini-carrito {
  position: absolute;
  top: 29px;
  right: 0;
  width: 220px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 2000;
}
.carrito:hover .mini-carrito {
  display: block;
}

.mini-carrito .item {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}


/*Flexbox — menú horizontal*/
.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #eee;
  padding: 10px;
}
/*Position Sticky (menu - cuando haces scroll se queda pegado arriba)*/
.menu {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.menu a {
  text-decoration: none;
  color: black;
}
.menu:hover {

  background: orange; /* Efecto hover para resaltar los enlaces */

  transition: 0.3s; /* Suavizar la transición del hover */

}
/*Banner principal*/
.hero {
  height: 300px;
  background: linear-gradient(to right, #222, #555);
  color: white;
  /*Aquí usamos el centrado perfecto con Flexbox:*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.filtros {
  width: 220px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  position: sticky;
  top: 60px;
}

.filtro {
  margin-bottom: 20px;
}

.filtro label {
  display: block;
  margin: 5px 0;
}
.contenedor {
  display: grid;
  grid-template-columns: 220px 1fr;/*220px 1fr;*/
  gap: 0px;
  padding: 20px 20px 20px 20px;  /*(arriba, derecha, abajo, izquierda)*/
  margin: 0px 0px 0px 0px;
  align-items: flex-start;
}

.zona-productos {
  display: flex;
  flex-direction: column;
}
/*Bara de Ordenacion "Sort"*/
.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.ordenar select {
  padding: 5px;
}

/* PRODUCTOS Flexbox — grid de productos
display:flex >>>	activa flexbox
flex-wrap	>>> permite varias filas
justify-content	>>> alinea horizontal
gap	>>> espacio entre elementos */
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));  /*repeat(4, 1fr)*/
  row-gap: 40px;
  column-gap: 25px;     /*interno*/
  padding: 0px; /*externo*/
  
  }
/*Tarjeta de producto
position: relative
Esto sirve para posicionar elementos absolutos dentro. 
Base Mobile First*/
.producto {
  width: 100%;;
  display: flex;
  flex-direction: column;
  background: white;
  row-gap: 0px;
  padding: 0px;
  border-radius: 0px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.producto:hover {
  transform: scale(1.2);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.producto > * {
  margin-top: 0px; /* Ajusta este valor para acercarlos */
}
/*Position Absolute (badge de oferta)
El .badge se posiciona respecto al .producto porque el padre tiene relative.*/
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px 8px;
  font-size: 12px;
}
.wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}
/*Imagen*/
.imagen-producto {
  position: relative;
}
.img1 {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.img2 {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  object-fit: cover;
}
.imagen-producto:hover .img2 {
  opacity: 1;
}

.rating {
  color: gold;
  margin: -15px 0px 10px 0px;
  font-size: 14px;
}
.precio {
  margin: 0px 0px 5px 5px;
  color: green; /* sobrescribe el color heredado */
  font-weight: bold;
}
/*Botón*/
.boton {
  width: 100%;
  padding: 10px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  margin-top: auto;
}

.boton:hover {
  background: orange;
}

.paginacion {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}

.paginacion button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.paginacion .activo {
  background: black;
  color: white;
}



/*Position Fixed (chat flotante)*/
.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: orange;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
}


.footer {
  position: static;
  background: #222;
  color: white;
  padding: 20px;
}
/*LAPTOP*/
@media (max-width: 1024px) {
  .hero {
    height: 200px;
    padding: 20px;
  }

}

/*TABLET*/
@media (max-width: 768px) {

  .contenedor {
    grid-template-columns: 1fr;
  }

  .filtros {
    width: 100%;
    position: static;
  }
  .hero {
    height: 200px;
    padding: 20px;
  }
  .barra-superior {
    flex-direction: column;
    align-items: flex-start;
  }

  .mini-carrito {
    top: 29px;
    right: 5px;
    left: auto;
  }

}
/*MOVIL*/
@media (max-width: 480px) {
  .topbar {
    flex-direction: column;
    gap: 10px;
  }

  .menu {
    flex-wrap: wrap;
  }

  .hero {
    height: 200px;
    padding: 20px;
  }
  .mini-carrito {
    top: 30px;
    right: auto;
    left: -100px;
  }

}


